@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';
@import 'media';


.home {
    background-image: url('../images/Rectangle\ 64.avif');
    height: 1000px;
    background-repeat: no-repeat;
    background-size: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content {
        max-width: 1330px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content-title {
        @extend %reforma-700;
        font-size: 150px;
        line-height: 188px;
        color: #DB3138;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__content-decor {
        margin-bottom: 40px;
    }
    &__content-text {
        @extend %reforma-500;
        font-size: 40px;
        line-height: 48px;
        max-width: 435px;
        margin-bottom: 40px;
    }
    &__content-btn {
        height: 61px;
        width: 169px;
        text-align: center;
        position: relative;
        &:hover {
            .home__content-btn-item {
                width: 100%;
            }
        }
    }
    &__content-btn-item {
        height: 61px;
        width: 110px;
        background-color: #DB3138;
        transition: all .5s;
    }
    &__content-btn-link {
        @extend %reforma-600;
        font-size: 24px;
        line-height: 34px;
        color: #fff;
        text-transform: uppercase;
        padding: 13px 30px 12px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.menu {
    width: 1300px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item-link {
        @extend %reforma-500;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        letter-spacing: 0.5px;
    }
    &__item + .menu__item {
        margin-left: 40px;
    }
}

.decor {
    width: 146px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        width: 10px;
        height: 10px;
        background-color: #DB3138;
        transform: rotate(45deg);
        transition: all .5s;
    }
    &:hover {
        .decor__item {
            transform: rotate(135deg);
        }
    }
}


.contacts {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 640px;
        height: 214px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border: .5px solid #fff;
    }
    &__title {
        @extend %reforma-600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: .5px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__text {
        max-width: 265px;
        @extend %reforma-600;
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: .5px;
        color: #DB3138;
    }
}

.title {
    @extend %reforma-600;
    font-size: 52px;
    line-height: 73px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.progress {
    &__inner {
        padding: 180px 0 220px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        width: 635px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__decor {
        margin-bottom: 60px;
    }
    &__text {
        max-width: 526px;
        @extend %reforma-500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: .48px;
    }
    // 
    &__box {
        display: flex;
    }
    &__box-item {
        width: 318px;
        height: 177px;
        padding: 10px;
        border: 1px solid #898989;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__box-item-title {
        @extend %reforma-600;
        font-size: 45px;
        line-height: 73px;
        color: #DB3138;
        letter-spacing: .5px;
        text-transform: uppercase;
        padding-left: 16px;
        position: relative;
        &::before {
            content: '#';
            font-size: 20px;
            line-height: 20px;
            position: absolute;
            width: 18px;
            height: 18px;
            left: 0;
            bottom: 21px;
        }
    }
    &__box-item-text {
        max-width: 275;
        @extend %reforma-600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;

    }
    &__box-item-img {
        margin-bottom: 22px;
    }
    &__second-box {
        transform: translate3d(-1px, 40px, 0);
    }
}


.slider {
    margin-bottom: 150px;
    &__inner {
        position: relative;
    }
    &__item {
        height: 450px;
        position: relative;
        &:hover {
            .slider__item-decor {
                height: 100%;
            }
        }
    }
    &__item-text-box {
        position: relative;
        width: 360px;
        height: 135px;
        margin-left: 25px;
        transform: translateY(-35px);
    }
    &__item-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 366px;
        height: 70px;
        background-color: #DB3138;
        transition: all .5s;
    }
    &__item-text {
        position: absolute;
        top: 30px;
        left: 40px;
        width: 285px;
        @extend %reforma-600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
}

/*Style button*/

.slick-prev.slick-arrow {
    position: absolute;
    top: 188px;
    left: -120px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 3px solid #DB3138;
    background-color: transparent;
    font-size: 0;
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 21px;
        background-image: url('../images/arrow-left-white.svg');
        top: 14px;
        left: 12px;
        transform: rotate(-45deg);
    }
}
.slick-next.slick-arrow {
    position: absolute;
    top: 188px;
    right: -120px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 3px solid #DB3138;
    background-color: transparent;
    font-size: 0;
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 21px;
        background-image: url('../images/arrow-right-white.svg');
        top: 11px;
        left: 16px;
        transform: rotate(-45deg);
    }
}

.material {
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__info {
        width: 526px;
    }
    &__info-title {
        margin-bottom: 43px;
        padding-top: 14px;
        padding-left: 100px;
        @extend %reforma-600;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
    &__service {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 57px;
            height: 70px;
            background-image: url('../images/service-icon.svg');
            top: 0;
            left: 0;
        }
    }
    &__master {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 46px;
            background-image: url('../images/master-icon.svg');
            top: 15px;
            left: 0;
        }
    }
    &__guarantee {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 70px;
            background-image: url('../images/guarantee-icon.svg');
            top: 0;
            left: 0;
        }
    }
    &__info-text {
        margin-bottom: 40px;
        @extend %reforma-500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: .5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__info-decor {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }
    &__slider {
        width: 636px;
        height: 600px;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__slider-item {
        position: relative;
    }
    &__slider-item-text {
        width: 422px;
        @extend %reforma-600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5px;
    }
}

.swiper-button-prev {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 3px solid #DB3138;
    background-color: transparent;
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 21px;
        background-image: url('../images/arrow-left-white.svg');
        top: 14px;
        left: 12px;
        transform: rotate(-45deg);
    }
}
.swiper-button-next {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 3px solid #DB3138;
    background-color: transparent;
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 21px;
        background-image: url('../images/arrow-right-white.svg');
        top: 10px;
        left: 17px;
        transform: rotate(-45deg);
    }
}

.swiper-button-box {
    width: 636px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    padding: 0 10px;
}

