%reforma-300 {
    font-family: 'ReformaGroteskLight', sans-serif;
    font-weight: 300;
}

%reforma-500 {
    font-family: 'ReformaGroteskMedium', sans-serif;
    font-weight: 500;
}

%reforma-600 {
    font-family: 'ReformaGroteskDemi', sans-serif;
    font-weight: 600;
}

%reforma-700 {
    font-family: 'ReformaGroteskBold', sans-serif;
    font-weight: 700;
}
